<mat-sidenav-container class="app-shell">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <div class="brand">
      <mat-icon>school</mat-icon>
      <div>
        <div class="brand-title">{{ title }}</div>
        <div class="brand-subtitle">Sistema Gerador de Simulados</div>
      </div>
    </div>

    <mat-accordion class="nav-accordion" displayMode="flat" multi="true">
      <mat-expansion-panel
        *ngFor="let section of navSections"
        class="nav-panel"
        [expanded]="true"
      >
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
          <mat-panel-title class="nav-panel-title">{{ section.title }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="nav-panel-list">
          <a
            mat-list-item
            *ngFor="let link of section.links"
            [routerLink]="link.path"
            routerLinkActive="active-link"
          >
            <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
            <span matListItemTitle>{{ link.label }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <span class="toolbar-title">Gerenciador de Simulados</span>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="Notificações">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Configurações">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Perfil">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
